<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="User_Mapper">
	
	<!-- 아이디 중복체크 -->
	<select id="user_id_chk" resultType="int">
		select count(*) from USER_DATA where USER_ID = #{USER_ID}
	</select>
	
	<!-- 닉네임 중복체크 -->
	<select id="nickname_chk" resultType="int">
		select count(*) from USER_DATA where NICKNAME = #{NICKNAME}
	</select>
	
	<!-- 회원가입 -->
	<insert id="join" parameterType="user">
		insert into USER_DATA
		(USER_ID, STATUS, USER_PW, NICKNAME, NAME, PHONE_NUM, EMAIL, GENDER, BIRTH, USER_JOB, CREATE_DATE, EMAIL_STATUS, SECESSION)
		values
		(#{USER_ID}, #{STATUS}, #{USER_PW}, #{NICKNAME}, #{NAME}, #{PHONE_NUM}, #{EMAIL}, #{GENDER}, #{BIRTH}, #{USER_JOB}, 
		now(), 'N', 'N')
	</insert>
	
</mapper>